Flask==3.0.2  # Latest stable version (as of 2024-03-22)
click==8.1.3  # Compatible with Flask 3.x
itsdangerous==2.3.1  # Compatible with Flask 3.x
Jinja2==3.1.2  # Already using a compatible version
MarkupSafe==2.1.1  # Compatible with Flask 3.x
Werkzeug==2.3.7  # Compatible with Flask 3.x
